section {
    background-color: rgb(28, 204, 204);
    margin-top: 70px;
    height: auto;
}

h3 {
    padding-top: 15px;
    text-align: center;
}

ul {
    margin-top: 40px;
}

.video {
    height: auto;
    width: 1199px;
}