* {
    margin: 0;
    padding: 0;
}

img {
    height: 50px;
    width: 70px;

}

.icons {
    margin-left: 150px;
    display: flex;
}

#icon {
    margin-left: 10px;
}

Form {
    margin-left: 30px;
}